@font-face {
  font-family: "merriweather-bold";
  src: url("../fonts/merriweather-bold.ttf"); }
@font-face {
  font-family: "merriweather-bold-italic";
  src: url("../fonts/merriweather-bold-italic.ttf"); }
@font-face {
  font-family: "merriweather-light";
  src: url("../fonts/merriweather-light.ttf"); }
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "merriwether-regular";
  src: url("../fonts/merriwether-regular.ttf"); }
@font-face {
  font-family: "SF-UI-Display-Regular";
  src: url("../fonts/SF-UI-Display-Regular.ttf"); }
.flux-logo-top {
  width: 100%;
  background-color: #f2f5f7; }
  .flux-logo-top .wrapper-logo {
    display: flex;
    align-items: center; }
    .flux-logo-top .wrapper-logo .wrapper-logo-img {
      width: 50%; }
    .flux-logo-top .wrapper-logo .wrapper-naw-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%; }
      .flux-logo-top .wrapper-logo .wrapper-naw-top .leng {
        width: 32px;
        height: 32px;
        background-position: center;
        background-size: cover;
        border-radius: 50%; }
      .flux-logo-top .wrapper-logo .wrapper-naw-top p {
        font-family: "merriweather-light";
        font-size: 18px;
        color: #0fe0bb;
        text-decoration: underline; }
      .flux-logo-top .wrapper-logo .wrapper-naw-top .wrapper-a {
        font-size: 18px;
        border: solid 1px #f2f5f7;
        background-color: #0fe0bb;
        font-family: "SF-UI-Display-Regular";
        text-transform: uppercase;
        color: #f2f5f7;
        padding: 5px 20px;
        border-radius: 7px;
        margin: 28px 0; }

.overseas {
  background-image: url(../img/f-s.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: top -140px center; }
  .overseas .text-1 h3 {
    padding-top: 195px;
    font-family: "merriweather-bold";
    font-size: 48px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .overseas .text-1 p {
    padding-top: 8px;
    font-family: "merriweather-light";
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .overseas .text-11 {
    display: flex;
    justify-content: center;
    padding-top: 40px; }
    .overseas .text-11 a {
      display: block;
      padding: 10px 30px;
      border-radius: 3px;
      background-color: #0fe0bb; }
      .overseas .text-11 a p {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        color: #f2f5f7;
        font-family: "SF-UI-Display-Regular"; }
  .overseas .text-12 {
    display: flex;
    justify-content: center; }
  .overseas .img-padding {
    padding-right: 45px;
    padding-bottom: 75px;
    padding-top: 350px; }

.img-mar {
  margin-bottom: 15px; }

.comment {
  width: 100%;
  background-image: url(../img/b-b.png); }
  .comment .wrapper-content {
    padding-bottom: 90px; }
    .comment .wrapper-content h3 {
      padding-top: 95px;
      font-size: 36px;
      font-family: "merriweather-bold-italic";
      color: #f2f5f7;
      text-align: center; }
    .comment .wrapper-content .wrapper-flex-1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .comment .wrapper-content .wrapper-flex-1 .w-33-p {
        width: 33.3%;
        padding: 0px 30px; }
      .comment .wrapper-content .wrapper-flex-1 .w-33-p:last-child {
        border-radius: 4px;
        border: solid 1px rgba(15, 224, 187, 0.5); }
      .comment .wrapper-content .wrapper-flex-1 .flex-content-text-1 h4 {
        font-family: "merriweather-bold";
        font-size: 18px;
        color: #f2f5f7;
        line-height: 1.33; }
      .comment .wrapper-content .wrapper-flex-1 .flex-content-text-1 p {
        font-family: "merriweather-light";
        font-size: 18px;
        color: #fff;
        line-height: 1.33;
        padding: 0px 0px 30px 0px; }

.img-block {
  display: block;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 15px; }

.why-flux .wrapper-content-2 {
  padding: 90px 0px; }
  .why-flux .wrapper-content-2 h3 {
    text-align: center; }
  .why-flux .wrapper-content-2 .wrapper-flex-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .why-flux .wrapper-content-2 .wrapper-flex-1 .w-33-p {
      width: 33.3%;
      padding: 0px 25px; }
    .why-flux .wrapper-content-2 .wrapper-flex-1 .flex-content-text-2 h4 {
      padding-top: 35px;
      padding-bottom: 5px;
      font-family: "merriweather-bold";
      font-size: 18px;
      line-height: 1.5;
      color: #32323c; }
    .why-flux .wrapper-content-2 .wrapper-flex-1 .flex-content-text-2 p {
      font-family: "merriweather-light";
      font-size: 16px;
      line-height: 1.5;
      color: #32323c; }

.our-commitments {
  width: 100%;
  background-image: url(../img/b-f.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: top -150px center; }
  .our-commitments .wrapper-commitments {
    padding: 255px 0px; }
    .our-commitments .wrapper-commitments h3 {
      font-family: "merriweather-bold-italic";
      font-size: 36px;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      color: #fff; }
    .our-commitments .wrapper-commitments p {
      font-family: "merriweather-light";
      font-size: 24px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      padding: 15px 0px; }
    .our-commitments .wrapper-commitments .learn-more {
      max-width: 200px;
      display: block;
      background-color: #0fe0bb;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      border-radius: 5px;
      text-transform: uppercase; }

.footer-bott {
  background-color: #fff; }
  .footer-bott .wrapper-flex-2 {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap; }
    .footer-bott .wrapper-flex-2 .wrapper-content-3 {
      width: 25%;
      padding: 0px 15px; }
      .footer-bott .wrapper-flex-2 .wrapper-content-3 .wrapper-w-p h3 {
        font-family: "merriweather-bold";
        color: #32323c;
        font-size: 21px; }
      .footer-bott .wrapper-flex-2 .wrapper-content-3 .wrapper-w-p p {
        padding-top: 10px;
        font-family: "merriweather-light";
        font-size: 18px;
        color: #0fe0bb;
        text-decoration: underline; }
      .footer-bott .wrapper-flex-2 .wrapper-content-3 .wrapper-w-p flex-4 {
        display: flex; }

.they-speak {
  background-color: #f2f5f7; }
  .they-speak .wrapper-content-4 {
    padding: 90px 0px; }
    .they-speak .wrapper-content-4 h3 {
      font-family: "merriweather-bold-italic";
      color: #979797;
      text-align: center;
      font-size: 36px; }
    .they-speak .wrapper-content-4 .wrapper-flex-5 {
      display: flex;
      flex-wrap: wrap; }
      .they-speak .wrapper-content-4 .wrapper-flex-5 .wrapper-flex-us {
        width: 33.3%;
        padding: 0px 25px; }
        .they-speak .wrapper-content-4 .wrapper-flex-5 .wrapper-flex-us .content-5 p {
          font-family: "merriweather-light";
          line-height: 1.33;
          color: #979797;
          font-size: 18px;
          text-align: center; }
          .they-speak .wrapper-content-4 .wrapper-flex-5 .wrapper-flex-us .content-5 p.they-speak-p {
            color: #32323c; }

.la-communaute {
  background-image: url(../img/back-lol.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: top -140px center; }
  .la-communaute h3 {
    font-family: "merriweather-bold-italic";
    font-size: 36px;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    padding-top: 95px; }
  .la-communaute .wrapper-text-21 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 445px; }
    .la-communaute .wrapper-text-21 .w-25 {
      width: 25%;
      padding: 0px 10px; }
      .la-communaute .wrapper-text-21 .w-25 p {
        color: #fff;
        font-size: 64px;
        font-family: "merriweather-light";
        padding-top: 32px; }
      .la-communaute .wrapper-text-21 .w-25 h3 {
        padding-top: 0px;
        color: #fff;
        text-align: left;
        font-family: "merriweather-bold";
        font-size: 24px;
        border-bottom: solid 5px #0fe0bb; }
      .la-communaute .wrapper-text-21 .w-25 h4 {
        color: #fff;
        font-family: "merriweather-bold";
        font-size: 24px;
        border-bottom: solid 5px #ffc300; }
      .la-communaute .wrapper-text-21 .w-25 h5 {
        color: #fff;
        font-family: "merriweather-bold";
        font-size: 24px;
        border-bottom: solid 5px #0ec0fc; }
      .la-communaute .wrapper-text-21 .w-25 h6 {
        color: #fff;
        font-family: "merriweather-bold";
        font-size: 24px;
        border-bottom: solid 5px #02407f; }

.app {
  background-image: url(../img/go.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: top -140px center; }
  .app .wrapper-app {
    padding: 260px 0px; }
    .app .wrapper-app h3 {
      font-size: 36px;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      font-family: "merriweather-bold-italic"; }
    .app .wrapper-app h4 {
      font-size: 24px;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      padding-top: 15px;
      padding-bottom: 25px; }
    .app .wrapper-app .wrapper-app-1 {
      direction: flex; }
      .app .wrapper-app .wrapper-app-1 .app-store p {
        font-size: 16px;
        color: #32323c;
        font-family: "merriwether-regular"; }
      .app .wrapper-app .wrapper-app-1 .google-play p {
        font-size: 16px;
        color: #32323c;
        font-family: "merriwether-regular"; }

/*# sourceMappingURL=styleL.css.map */
